*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
}

.container{
    border: 3px solid black;
    padding: 3px;
    margin: 20px;
}

header{
    background-color: blueviolet;
    padding: 30px;
}

.main-content{
    display: flex;
    height: 300px;
}

.sidebar{
    order: 1;
    flex: 1;
}
aside{
    background-color: cornflowerblue;
    height: 60%;
}

nav{
    background-color:crimson;
    height: 40%;
}

main{
    background-color:coral;
    flex: 1.5;
    order: 2;

}

footer{
    background-color: gray;
}